.App {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.App__container {
  display: flex;
  flex-grow: 1;
}

.App__side {
  padding: 20px;
}

.App__main {
  display: flex;
  flex-grow: 1;
}

.App__project {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.App__menu-list {
  width: 250px
}

.App__side-title .App__side-title-text {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}