.root {
    background: white;
}

.SignUp {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUp__form {
    width: 100%;
    margin-top: 20px;
}

.SignUp .SignUp__submit {
    margin-top: 22px;
    margin-bottom: 15px;
}