.App {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.App__container {
  display: flex;
  flex-grow: 1;
}

.App__side {
  padding: 20px;
}

.App__main {
  display: flex;
  flex-grow: 1;
}

.App__project {
  padding: 20px;
}

.App__menu-list {
  width: 250px
}